#root {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden; }
  #root #main_menu_hai {
    height: 131px; }
  #root #carouselExampleSlidesOnly {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    width: 100%;
    height: calc(100vh - 77px - 131px); }
  #root .navbar {
    height: 77px; }

.navbar {
  /* background-color: blue !important; */ }
  .navbar .navbar-brand {
    font-weight: bold;
    color: #000 !important; }

#container {
  width: 100vw;
  height: 100vh; }

.canvasjs-chart-credit {
  display: none; }

#baocao_h .col-md-3:nth-child(1) .card {
  /* background-color: #3239C8; */ }

#baocao_h .col-md-3:nth-child(2) .card {
  /* background-color: #ff9444; */ }

#baocao_h .col-md-3:nth-child(3) .card {
  /* background-color: #CC976A; */ }

#baocao_h .col-md-3:nth-child(4) .card {
  /* background-color: #679B99; */ }

#baocao_h .col-md-3:nth-child(5) .card {
  /* background-color: #359D3C; */ }

#baocao_h .col-md-3:nth-child(6) .card {
  /* background-color: #1A4FB0; */ }

#baocao_h .col-md-3:nth-child(7) .card {
  /* background-color: #996096; */ }

#baocao_h .col-md-3:nth-child(8) .card {
  /* background-color: #9BCE9C; */ }

#baocao_h .col-md-3 .card {
  color: #fff;
  position: relative;
  margin-bottom: 20px;
  background-color: transparent;
  border-color: #fff; }
  #baocao_h .col-md-3 .card img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    width: 40px;
    position: absolute;
    right: 15px;
    top: 38px; }
  #baocao_h .col-md-3 .card .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 130px; }
    #baocao_h .col-md-3 .card .card-body hr {
      border-color: #fff;
      width: 100%;
      border-style: dashed; }
    #baocao_h .col-md-3 .card .card-body .card-title {
      font-size: 13px; }
    #baocao_h .col-md-3 .card .card-body .card-text {
      font-size: 30px; }

.main_content_h {
  margin-top: 20px; }

.widget-row-iframe iframe {
  width: 100%;
  min-height: 750px !important;
  width: 100%;
  height: 100%; }

.title2_h {
  font-size: 24px;
  font-family: 'Oswald Medium';
  color: #fff;
  margin-bottom: 20px; }
  .title2_h i.fa {
    color: #369D3C; }

.form_hai .btn.btn-primary {
  background-color: #1d809f !important;
  border-color: #1d809f !important; }

.form_hai .btn.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545; }

.card1_h {
  border-radius: 0;
  border-color: #fff;
  background-color: #0000007a;
  height: calc(100% - 42px); }
  .card1_h .card-body .list-unstyled li p a {
    color: #fff;
    font-size: 18px; }
  .card1_h .card-body .list-unstyled li time {
    font-size: 13px;
    color: #afafaf; }

.card_ykien {
  border: 1px solid;
  border-color: #F9CF50; }
  .card_ykien .uk-card-header {
    background-color: #F9CF50; }
  .card_ykien .uk-card-body .input-group {
    border-radius: 0; }
    .card_ykien .uk-card-body .input-group .form-control {
      border-radius: 0; }

.card_td {
  background-color: #D6E0E7; }
  .card_td .uk-card-body .uk-card-title {
    background-color: #495D69;
    color: #fff;
    font-size: 14px; }

.block1 {
  padding: 10px 0; }
  .block1 .title {
    font-family: 'Roboto Medium';
    font-size: 18px;
    color: #2475B8; }

#stepby .nav-item {
  border-radius: 0;
  text-align: left;
  color: #fff;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  #stepby .nav-item:not(:last-child) {
    border-right: 1px solid #fff; }
  #stepby .nav-item .stt {
    font-size: 34px; }
  #stepby .nav-item h5 {
    color: #fff; }

.card-ph {
  background-color: #F9CF50; }

.box_dichvucong {
  padding: 50px 0; }
  .box_dichvucong .title {
    color: #fff; }
  .box_dichvucong .uk-card {
    height: 100%; }
    .box_dichvucong .uk-card .uk-card-body .uk-card-title {
      font-size: 14px; }

.h_search .uk-button {
  background-color: #E29348;
  border-color: #E29348; }

.h_table_kq .uk-table tr th {
  font-weight: bold;
  color: #000;
  text-align: center; }

.h_table_kq .uk-table tr td {
  font-size: 14px; }

.h_table_kq .uk-table tr th, .h_table_kq .uk-table tr td {
  border: 1px solid #ccc; }

.h_table_kq .uk-table tr.uk-column-span td {
  background-color: #E29348;
  color: #fff; }

.h_table_kq .uk-accordion li.uk-open .uk-accordion-title {
  background-color: #E29348;
  color: #fff; }

.h_table_kq .uk-accordion li .uk-accordion-title {
  background-color: #F5F5F5;
  font-size: 15px; }

.title_contact {
  font-size: 18px; }

#footer {
  background-color: #E5E5E5;
  padding: 30px 0;
  border-top: 3px solid #81D3F0; }

.title_h {
  font-size: 19px;
  color: #fff;
  margin-bottom: 20px; }

.box_item {
  text-decoration: none !important; }
  .box_item .alert {
    border-color: #fff !important;
    background-color: transparent;
    color: #fff;
    min-height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-box-shadow: 2px 2px 15px 2px #b9b6b69e;
    box-shadow: 2px 2px 15px 2px #b9b6b69e; }
    .box_item .alert > div {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .box_item .alert:hover {
      background-color: #fff6; }
      .box_item .alert:hover > div {
        -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2); }
    .box_item .alert span {
      display: none; }
    .box_item .alert i.fa {
      display: none; }
    .box_item .alert br {
      display: none; }

#main_menu_hai li.nav-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  #main_menu_hai li.nav-item:nth-child(1) a {
    background-color: #dc3545; }
  #main_menu_hai li.nav-item:nth-child(2) a {
    background-color: #ffc107; }
  #main_menu_hai li.nav-item:nth-child(3) a {
    background-color: #28a745; }
  #main_menu_hai li.nav-item:nth-child(4) a {
    background-color: #17a2b8; }
  #main_menu_hai li.nav-item:nth-child(5) a {
    background-color: #007bff; }
  #main_menu_hai li.nav-item:nth-child(6) a {
    background-color: #28a745; }
  #main_menu_hai li.nav-item a {
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    color: #fff;
    font-weight: bold; }
    #main_menu_hai li.nav-item a img {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      height: 81px; }
    #main_menu_hai li.nav-item a span {
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      margin-top: 10px; }

/*# sourceMappingURL=main.css.map */