.tab-main {
  padding: 0 2.2rem;
  background: #fff;
  /* border-bottom: 1px solid #ccc; */
  margin-bottom: 20px; }
  .tab-main li {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 30px; }
    .tab-main li a {
      color: #7b7e8a;
      padding: 10px 0;
      display: inline-block; }
      .tab-main li a .fa {
        font-size: 1.2rem;
        margin-right: 5px; }
    .tab-main li.active {
      border-bottom: 3px solid #34bfa3; }
      .tab-main li.active .fa {
        color: #34bfa3; }

.tab-content-main {
  padding: 0 2.2rem; }

.title-qc.blue {
  background: #229cff; }

.title-qc.yellow {
  background: #ffb822; }

.title_box_qh {
  font-size: 12px;
  font-weight: 500;
  color: #575962;
  padding: 1rem 2.2rem;
  border-bottom: 1px solid #ddd; }
  .title_box_qh img {
    margin-top: -6px; }

.prog_tit {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 300;
  color: #9699a2; }
  .prog_tit b {
    color: #FF6500;
    font-size: 1.75rem;
    font-weight: 600; }

.des_prog {
  font-size: 1rem;
  color: #9699a2; }

.content_folow {
  padding: 15px 25px; }

.box_folow_job {
  height: 215px;
  border-right: 1px solid #ebedf2; }

.list_folow li {
  color: #6f727d;
  font-weight: 400;
  margin-bottom: 20px; }
  .list_folow li i.fa {
    float: left;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: left;
    width: 35px;
    font-size: 1.4rem; }
  .list_folow li p {
    font-size: 1rem; }
    .list_folow li p span {
      float: left; }
    .list_folow li p b {
      float: right;
      font-weight: normal;
      padding: 0px 10px;
      background: #34bfa3;
      color: #fff;
      border-radius: 15px; }
  .list_folow li:nth-child(2) b {
    background: #5867dd; }
  .list_folow li:nth-child(3) b {
    background: #FF6500; }
    .sc_chiso{
    display: flex;
}

.box_chiso {
  border-right: 1px solid #ebedf2;
   }

.bdnone {
  border-right: 0; }

.sc_folow_job, .sc_chiso {
  -webkit-box-shadow: 2px 5px 10px 0px #ebe9e9;
  box-shadow: 2px 5px 10px 0px #ebe9e9; }

.content_chiso {
  padding: 15px 10px;
  margin-bottom: 15px; }

.list_tongket {
  border-bottom: 1px solid #ebedf2; }
  .list_tongket li img {
    float: left;
    margin-top: -2px;
    margin-right: 5px; }
  .list_tongket li:hover {
    color: red; }

.title_box_qh img {
  width: 28px;
  height: 28px;
  margin-right: 8px; }

.highcharts-exporting-group {
  display: none !important; }
  .bieudo-radar{
    max-width: 500px;
    margin: auto;
    text-align: center;
  }

  .solieudo-box h2 , .bandothoitiet-box h2, .hinhanhhientruong-box h2{
       border-bottom: solid 1px #2698f1;
    color: #2698f1;
    padding: 10px;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
}

.tinhtrangkhancap-box {
    padding: 35px;
}

.map-item-bandothoitiet {
    height: 200px;
    width: 100%;
    background: #ccccccd1;
}

.hinhanh-item img {
    max-height: 200px;
    text-align: center;
    margin: auto;
}
