@font-face {
    font-family: 'UTM_HelvetIns';
    src: url('../fonts/UTMHelvetIns.eot');
    src: url('../fonts/UTMHelvetIns.eot') format('embedded-opentype'), url('../fonts/UTMHelvetIns.woff')
    format('woff2'), url('../fonts/UTMHelvetIns.woff') format('woff'), url('../fonts/UTMHelvetIns.ttf')
    format('truetype'), url('../fonts/UTMHelvetIns.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover,
a:focus {
    color: #0d7cd6;
    text-decoration: none;
}

* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.fixed {
    position: fixed !important;
    top: 0px;
    z-index: 99;
    width: 100%;
}
.clearfix-130{
    clear: both;
    height: 130px;
}
.clearfix-100{
    clear: both;
    height: 100px;
}
.clearfix-80{
    clear: both;
    height: 80px;
}
.clearfix-60{
    clear: both;
    height: 60px;
}
.clearfix-55{
    clear: both;
    height: 55px;
}
.clearfix-50{
    clear: both;
    height: 50px;
}
.clearfix-45{
    clear: both;
    height: 45px;
}
.clearfix-40{
    clear: both;
    height: 40px;
}
.clearfix-35{
    clear: both;
    height: 35px;
}
.clearfix-30{
    clear: both;
    height: 30px;
}
.clearfix-32{
    clear: both;
    height: 32px;
}
.clearfix-25{
    clear: both;
    height: 25px;
}
.clearfix-20{
    clear: both;
    height: 20px;
}
.clearfix-15{
    clear: both;
    height: 15px;
}
.clearfix-12{
    clear: both;
    height: 12px;
}
.clearfix-10{
    clear: both;
    height: 10px;
}
.clearfix-5{
    clear: both;
    height: 5px;
}

body {
    background: #fff;
    font-size: 12px;
    font-family: arial;
    color: #000;
}

del {
    font-size: 12px;
    color: #999;
}

/*===========All=============*/ 
.w_100 {
    width: 100%;
}

.w_40 {
    width: 40%;
}

.w_60 {
    width: 60%;
}

/*---------------------------------------------------*/



@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf')  format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf')  format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


.login_head_top ul li {
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    color: #fff;
}
.login_head_top ul li .form-control {
    height: 23px;
    font-size: 10px;
    color: #333333;
}
.login_head_top ul li .form-control::placeholder {
    color: #333;
    font-size: 10px;    
}
.login_head_top .checkbox {
    margin-bottom: 0;
    margin-top: 0;
}
.login_head_top .checkbox label {
    line-height: 20px;

}
.login_head_top ul li .btn-default {
    height: 23px;
    line-height: 23px;
    padding: 0 6px;
    background: #0e7ab2;
    color: #fff;
    border-radius: 0;
}
.head_top {
    background-image: url(../img/bg_headtop.png);
    background-size: 100% 100%;
    padding: 5px 0;
}
.tit_diendan2 h3 {
    font-size: 14px;
    color: #333;
    line-height: 37px;
   
}
.tit_diendan2 {
    background:  #e6e6e6;
    height: 37px;
    line-height: 37px;
    font-family: 'Roboto-Regular';
    padding: 0 15px ;
}
.box_diendan_left .tit_diendan1 {
    font-size: 18px;
    padding: 13px 15px;
  /*  background:url("../img/back_line.png") no-repeat;
    background-size: 100% 100%;*/ 
        background: -webkit-linear-gradient(0deg, #053785 40%, #006CB6 100%);
    text-transform: uppercase;
    color: #fff;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.list_content_left {
    padding:0 15px;
}
.list_content_left ul {
    padding: 9px 0;
}
.list_content_left ul li a {
 display: block;
 font-size: 14px;
 color: #0d71aa;
 font-family: 'Roboto-Regular';
 margin-bottom: 10px;
 padding-left: 20px;
 position: relative;
 cursor: pointer;
 text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;
}
.list_content_left ul li a::before {
    content: "\f04b";
     font: normal normal normal 14px/1 FontAwesome;
     position: absolute;
     left: 0;
     top: 3px;
     width: 12px;
     height: 12px;
     color: #fff;
     background:#333333;
     font-size: 7px;
     line-height: 11px;
     text-align: center;
     border-radius: 50%;

}
.box_diendan_left {
    padding: 2px;
    box-shadow: 0 0 5px #333;
background: #fff;
    overflow: hidden;
}
.list_content_left_2 .item_content_left_2 {
    display: flex;
    flex-wrap: row;
}
.list_content_left_2 .item_content_left_2 img {
    width: 33px;
    height: 30px;
    margin-right: 12px;
}

.list_content_left_2 .item_content_left_2 .sub_item_content h3 a {
    display: block;
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Roboto-Bold';
    color: #333333;
    margin-bottom: 5px;
}
.list_content_left_2 .item_content_left_2 .sub_item_content p {
    font-size: 13px;
    font-family: 'Roboto-Regular';
}
.detai_bai_item_content {
    text-align: center;
    font-size: 13px;
    color: #333;
    font-family: 'Roboto-Regular';
    line-height: 18px;
}
.thongbao_item_content {
    line-height: 18px;
}
.thongbao_item_content h4{
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
font-size: 13px;
color: #333;
line-height: 18px;
}
.list_content_left_2 {
    padding: 15px 0;
    background-image: url(../img/line.png);
    background-repeat: repeat-x;
    background-position: bottom;
    margin:0 10px;
}
.box_diendan_left .list_content_left_2:last-child {

   margin-bottom: 10px;
}
.box_diendan_left_color .tit_diendan1 {
    background-color: #ad0b1e;
}
.box_content_right {
    padding: 1px;
        box-shadow: 0 0 5px #333
}
.box_docnhieu h2 a {
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto-Regular';
    color: #fff;
    padding: 10px 0;
  /*  background: #b20e28;*/
        background: -webkit-linear-gradient(0deg, #053785 40%, #006CB6 100%);
    margin-bottom: 5px;
}
.box_docnhieu ul li {
    display: flex;
    flex-wrap: row;
}
.box_docnhieu ul li img {
    width: 32px;
    height: 32px;
    margin-right: 6px;
}
.box_docnhieu ul li .sub_docnhieu h4 a {
    display: block;
    font-size: 12px;
    font-family: 'Roboto-Bold';
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5px;
}
.box_docnhieu ul li .sub_docnhieu h4 a .fa-caret-right {
    margin-right: 2px;
}
.box_docnhieu ul li .sub_docnhieu p{
    display: block;
    font-size: 12px;
    font-family: 'Roboto-Regular';
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
..title_message_news {
         border: inherit; 
} 
.box_docnhieu ul li {
    margin-bottom: 10px;
    overflow: hidden;
}
.content_diendan {
    background-image: url(../img/bg_id.png);
    background-repeat: repeat-y;
    background-position: center;
}
.box_content_right {
    background: #fff;
}
.sub_docnhieu {
    overflow: hidden;
}
.box_docnhieu ul {
    padding: 0 5px;
}